In [ ]:
import pickle
from flask import Flask, request, app,jsonify,url_for,render_template
import numpy as np
import pandas as pd
from custom_encoder import GetDummies

In [ ]:
## Load the model
grid_model_rfc = pickle.load(open("models/grid_model_rfc.pkl","rb"))
sc = pickle.load(open("models/credit_score_multi_class_sc.pkl","rb"))
ohe = pickle.load(open("models/credit_score_multi_class_ohe_encoder.pkl","rb"))
le = pickle.load(open("models/credit_score_multi_class_le.pkl","rb"))

In [ ]:
dummy = pickle.load(open("models/credit_score_multi_class_get_dummy.pkl", "rb"))

In [ ]:
df = pd.read_csv("Data/cleaned_test.csv")
for i in df.columns:
    if i in ["Customer_ID", "Month"]:
        df.drop(columns=[i], inplace=True)

In [ ]:
X_test = df.copy()

In [ ]:
X_test_dummy = dummy.transform(X_test)
X_test_dummy = X_test_dummy.reset_index(drop=True)

In [ ]:
X_test_dummy.info()

In [ ]:
X_test_dummy.columns

In [ ]:
X_test.columns

In [ ]:
cat = X_test_dummy.select_dtypes(include="object").columns.tolist()

X_test_cat = pd.DataFrame(
    ohe.transform(X_test[cat]), columns=ohe.get_feature_names_out()
)
X_test_ohe = X_test_cat.join(X_test_dummy.select_dtypes("number"))

In [ ]:
X_test_scaled = sc.transform(X_test_ohe)

In [ ]:
y_pred = grid_model_rfc.predict(X_test_scaled)

In [ ]:
y_pred = le.inverse_transform(y_pred)

In [ ]:
df.shape

In [ ]:
y_pred = pd.DataFrame(y_pred)
y_pred.columns = ["Prediction_Credit_Score"]

In [ ]:
y_pred

In [ ]:
test_df = pd.read_csv("Data/cleaned_test.csv")

In [ ]:
temp = pd.concat([df,y_pred],axis=1)

In [ ]:
temp.columns

In [ ]:
temp

In [ ]:
temp = pd.concat([test_df,y_pred],axis=1)

In [ ]:
temp["Prediction_Credit_Score"].value_counts()

In [ ]:
pd.read_csv("Result/prediction_on_test_data.csv")

# On single data

In [ ]:
df = pd.read_csv("Data/cleaned_test.csv")
for i in df.columns:
    if i in ["Customer_ID", "Month"]:
        df.drop(columns=[i], inplace=True)
df = df.iloc[0:1,]

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df

In [ ]:
df["Type_of_Loan"].values

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
## Load the model
grid_model_rfc = pickle.load(open("models/grid_model_rfc.pkl", "rb"))
sc = pickle.load(open("models/credit_score_multi_class_sc.pkl", "rb"))
ohe = pickle.load(open("models/credit_score_multi_class_ohe_encoder.pkl", "rb"))
le = pickle.load(open("models/credit_score_multi_class_le.pkl", "rb"))
dummy = pickle.load(open("models/credit_score_multi_class_get_dummy.pkl", "rb"))

In [ ]:
temp

In [ ]:
# X_test = df.copy()
X_test = temp
X_test_dummy = dummy.transform(X_test)
X_test_dummy = X_test_dummy.reset_index(drop=True)
cat = X_test_dummy.select_dtypes(include="object").columns.tolist()

X_test_cat = pd.DataFrame(
    ohe.transform(X_test[cat]), columns=ohe.get_feature_names_out()
)
X_test_ohe = X_test_cat.join(X_test_dummy.select_dtypes("number"))

X_test_scaled = sc.transform(X_test_ohe)

y_pred = grid_model_rfc.predict(X_test_scaled)

y_pred = le.inverse_transform(y_pred)

In [ ]:
y_pred[0]

In [ ]:
temp = pd.read_csv("Data/train.csv").iloc[0:1,]

In [ ]:
temp = temp.drop(columns=["ID","Customer_ID", "Month", "SSN", "Name", "Credit_Score"])
temp

In [ ]:
temp.info()

# Html Form

In [1]:
import pickle
from flask import Flask, request, app,jsonify,url_for,render_template
import numpy as np
import pandas as pd
from custom_encoder import GetDummies

In [2]:
## Load the model
grid_model_rfc = pickle.load(open("models/grid_model_rfc.pkl", "rb"))
sc = pickle.load(open("models/credit_score_multi_class_sc.pkl", "rb"))
ohe = pickle.load(open("models/credit_score_multi_class_ohe_encoder.pkl", "rb"))
le = pickle.load(open("models/credit_score_multi_class_le.pkl", "rb"))
dummy = pickle.load(open("models/credit_score_multi_class_get_dummy.pkl", "rb"))

In [3]:
form = {'Age': '23', 'Occupation': 'Teacher', 'Annual_Income': '19114.12', 'Monthly_Inhand_Salary': '1824.843333', 'Num_Bank_Accounts': '3', 'Num_Credit_Card': '4', 'Interest_Rate': '3', 'Num_of_Loan': '4', 'Type_of_Loan': 'Auto Loan,Personal Loan', 'Delay_from_due_date': '3', 'Num_of_Delayed_Payment': '7', 'Changed_Credit_Limit': '11.27', 'Num_Credit_Inquiries': '4.0', 'Credit_Mix': 'Good', 'Outstanding_Debt': '809.98', 'Credit_Utilization_Ratio': '35.030402', 'Credit_History_Age': '273', 'Payment_of_Min_Amount': 'No', 'Total_EMI_per_month': '49.574949', 'Amount_invested_monthly': '236.642682', 'Payment_Behaviour': 'Low_spent_Small_value_payments', 'Monthly_Balance': '186.266702'}

In [4]:
temp_df = pd.DataFrame(pd.Series(form)).transpose()

In [5]:
temp_df

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,23,Teacher,19114.12,1824.843333,3,4,3,4,"Auto Loan,Personal Loan",3,...,4.0,Good,809.98,35.030402,273,No,49.574949,236.642682,Low_spent_Small_value_payments,186.266702

In [6]:
lst1 = ["Age", "Annual_Income", "Monthly_Inhand_Salary", "Num_of_Loan",
        "Num_Bank_Accounts", "Num_Credit_Card", "Interest_Rate",
        "Delay_from_due_date", "Num_of_Delayed_Payment", "Num_Credit_Inquiries",
        "Credit_Utilization_Ratio", "Total_EMI_per_month",
        "Changed_Credit_Limit", "Outstanding_Debt", "Amount_invested_monthly",
        "Monthly_Balance", "Credit_History_Age"]
for i in lst1:
    temp_df[i] = temp_df[i].astype(float)

In [7]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1 non-null      float64
 1   Occupation                1 non-null      object
 2   Annual_Income             1 non-null      float64
 3   Monthly_Inhand_Salary     1 non-null      float64
 4   Num_Bank_Accounts         1 non-null      float64
 5   Num_Credit_Card           1 non-null      float64
 6   Interest_Rate             1 non-null      float64
 7   Num_of_Loan               1 non-null      float64
 8   Type_of_Loan              1 non-null      object
 9   Delay_from_due_date       1 non-null      float64
 10  Num_of_Delayed_Payment    1 non-null      float64
 11  Changed_Credit_Limit      1 non-null      float64
 12  Num_Credit_Inquiries      1 non-null      float64
 13  Credit_Mix                1 non-null      object
 14  Outstanding_Debt          1 non-null      float64
 15  Credit_Utilization_Ratio  1 non-null      float64
 16  Credit_History_Age        1 non-null      float64
 17  Payment_of_Min_Amount     1 non-null      object
 18  Total_EMI_per_month       1 non-null      float64
 19  Amount_invested_monthly   1 non-null      float64
 20  Payment_Behaviour         1 non-null      object
 21  Monthly_Balance           1 non-null      float64
dtypes: float64(17), object(5)
memory usage: 304.0+ bytes

In [8]:
X_test = temp_df.copy()
X_test_dummy = dummy.transform(X_test)
X_test_dummy = X_test_dummy.reset_index(drop=True)
cat = X_test_dummy.select_dtypes(include="object").columns.tolist()

X_test_cat = pd.DataFrame(
    ohe.transform(X_test[cat]), columns=ohe.get_feature_names_out()
)
X_test_ohe = X_test_cat.join(X_test_dummy.select_dtypes("number"))

X_test_scaled = sc.transform(X_test_ohe)

y_pred = grid_model_rfc.predict(X_test_scaled)

y_pred = le.inverse_transform(y_pred)

In [9]:
y_pred

array(['Good'], dtype=object)

In [11]:
cleaned = pd.read_csv("Data/cleaned_train.csv")
cleaned.drop(columns=["Customer_ID", "Month"], inplace=True)

In [12]:
cleaned.drop(columns=["Credit_Score"], inplace=True)
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Age                       100000 non-null  float64
 1   Occupation                100000 non-null  object
 2   Annual_Income             100000 non-null  float64
 3   Monthly_Inhand_Salary     100000 non-null  float64
 4   Num_Bank_Accounts         100000 non-null  float64
 5   Num_Credit_Card           100000 non-null  float64
 6   Interest_Rate             100000 non-null  float64
 7   Num_of_Loan               100000 non-null  float64
 8   Type_of_Loan              100000 non-null  object
 9   Delay_from_due_date       100000 non-null  float64
 10  Num_of_Delayed_Payment    100000 non-null  float64
 11  Changed_Credit_Limit      100000 non-null  float64
 12  Num_Credit_Inquiries      100000 non-null  float64
 13  Credit_Mix                100000 non-null  object
 14  Outstanding_Debt          100000 non-null  float64
 15  Credit_Utilization_Ratio  100000 non-null  float64
 16  Credit_History_Age        100000 non-null  float64
 17  Payment_of_Min_Amount     100000 non-null  object
 18  Total_EMI_per_month       100000 non-null  float64
 19  Amount_invested_monthly   100000 non-null  float64
 20  Payment_Behaviour         100000 non-null  object
 21  Monthly_Balance           100000 non-null  float64
dtypes: float64(17), object(5)
memory usage: 16.8+ MB

In [ ]:
lst1 = ["Age", "Annual_Income", "Monthly_Inhand_Salary", "Num_of_Loan",
        "Num_Bank_Accounts", "Num_Credit_Card", "Interest_Rate",
        "Delay_from_due_date", "Num_of_Delayed_Payment", "Num_Credit_Inquiries",
        "Credit_Utilization_Ratio", "Total_EMI_per_month",
        "Changed_Credit_Limit", "Outstanding_Debt", "Amount_invested_monthly",
        "Monthly_Balance", "Credit_History_Age"]

In [19]:
pd.set_option('display.max_columns', None)

In [20]:
cleaned.iloc[0:1,]

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"auto loan,credit-builder loan,personal loan,ho...",3.0,7.0,11.27,4.0,Good,809.98,26.82262,265.0,No,49.574949,24.785217,High_spent_Small_value_payments,312.494089

In [23]:
cleaned1 = pd.read_csv("Data/cleaned_train.csv")
cleaned1.iloc[0:1,]

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,3392,1,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"auto loan,credit-builder loan,personal loan,ho...",3.0,7.0,11.27,4.0,Good,809.98,26.82262,265.0,No,49.574949,24.785217,High_spent_Small_value_payments,312.494089,Good

In [21]:
cleaned.iloc[0:1,]["Type_of_Loan"].values

array(['auto loan,credit-builder loan,personal loan,home equity loan'],
      dtype=object)