In [2]:
import pickle
from flask import Flask, request, app,jsonify,url_for,render_template
import numpy as np
import pandas as pd
from custom_encoder import GetDummies

In [ ]:
## Load the model
grid_model_rfc = pickle.load(open("models/grid_model_rfc.pkl","rb"))
sc = pickle.load(open("models/credit_score_multi_class_sc.pkl","rb"))
ohe = pickle.load(open("models/credit_score_multi_class_ohe_encoder.pkl","rb"))
le = pickle.load(open("models/credit_score_multi_class_le.pkl","rb"))

In [ ]:
dummy = pickle.load(open("models/credit_score_multi_class_get_dummy.pkl", "rb"))

In [ ]:
df = pd.read_csv("Data/cleaned_test.csv")
for i in df.columns:
    if i in ["Customer_ID", "Month"]:
        df.drop(columns=[i], inplace=True)

In [ ]:
X_test = df.copy()

In [ ]:
X_test_dummy = dummy.transform(X_test)
X_test_dummy = X_test_dummy.reset_index(drop=True)

In [ ]:
X_test_dummy.info()

In [ ]:
X_test_dummy.columns

In [ ]:
X_test.columns

In [ ]:
cat = X_test_dummy.select_dtypes(include="object").columns.tolist()

X_test_cat = pd.DataFrame(
    ohe.transform(X_test[cat]), columns=ohe.get_feature_names_out()
)
X_test_ohe = X_test_cat.join(X_test_dummy.select_dtypes("number"))

In [ ]:
X_test_scaled = sc.transform(X_test_ohe)

In [ ]:
y_pred = grid_model_rfc.predict(X_test_scaled)

In [ ]:
y_pred = le.inverse_transform(y_pred)

In [ ]:
df.shape

In [ ]:
y_pred = pd.DataFrame(y_pred)
y_pred.columns = ["Prediction_Credit_Score"]

In [ ]:
y_pred

In [ ]:
test_df = pd.read_csv("Data/cleaned_test.csv")

In [ ]:
temp = pd.concat([df,y_pred],axis=1)

In [ ]:
temp.columns

In [ ]:
temp

In [ ]:
temp = pd.concat([test_df,y_pred],axis=1)

In [ ]:
temp["Prediction_Credit_Score"].value_counts()

In [ ]:
pd.read_csv("Result/prediction_on_test_data.csv")

On single data

In [3]:
df = pd.read_csv("Data/cleaned_test.csv")
for i in df.columns:
    if i in ["Customer_ID", "Month"]:
        df.drop(columns=[i], inplace=True)
df = df.iloc[0:1,]

In [4]:
df

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,23.0,Scientist,19114.12,1824.843333,3,4,3,4.0,"auto loan,credit-builder loan,personal loan,ho...",3.0,...,2022.0,Good,809.98,35.030402,273.0,No,49.574949,236.642682,Low_spent_Small_value_payments,186.266702

In [5]:
## Load the model
grid_model_rfc = pickle.load(open("models/grid_model_rfc.pkl", "rb"))
sc = pickle.load(open("models/credit_score_multi_class_sc.pkl", "rb"))
ohe = pickle.load(open("models/credit_score_multi_class_ohe_encoder.pkl", "rb"))
le = pickle.load(open("models/credit_score_multi_class_le.pkl", "rb"))
dummy = pickle.load(open("models/credit_score_multi_class_get_dummy.pkl", "rb"))

In [10]:
pd.DataFrame(df.values)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,23.0,Scientist,19114.12,1824.843333,3,4,3,4.0,"auto loan,credit-builder loan,personal loan,ho...",3.0,...,2022.0,Good,809.98,35.030402,273.0,No,49.574949,236.642682,Low_spent_Small_value_payments,186.266702

In [12]:
X_test = df.copy()
X_test_dummy = dummy.transform(X_test)
X_test_dummy = X_test_dummy.reset_index(drop=True)
cat = X_test_dummy.select_dtypes(include="object").columns.tolist()

X_test_cat = pd.DataFrame(
    ohe.transform(X_test[cat]), columns=ohe.get_feature_names_out()
)
X_test_ohe = X_test_cat.join(X_test_dummy.select_dtypes("number"))

X_test_scaled = sc.transform(X_test_ohe)

y_pred = grid_model_rfc.predict(X_test_scaled)

y_pred = le.inverse_transform(y_pred)

In [14]:
y_pred[0]

'Good'